<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <div id= "error_explanation">
      <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
      <% @book.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <%= render 'books/list', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(User.find(book.user_id).id) do %>
                <%= image_tag attachment_url(User.find(book.user_id), :profile_image, :fill, 40, 40, fallback: "no_image.jpg"), size:'40x40' %>
                <% end %>
              </td>
              <td>
                <%= link_to book.title , book_path(book.id) %>
              </td>
              <td>
                <%= book.body %>
              </td>
              <% if book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorites_path(book), method: :delete, class: 'good' do %>
                    ♥<%= book.favorites.count %>
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorites_path(book), method: :post, class: 'bad' do %>
                    ♥<%= book.favorites.count %>
                  <% end %>
                </td>
              <% end %>
              <td>
                <p>コメント数：<%= book.book_comments.count %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
