<div class="container px-5 px-sm-0">
  <h2><a href="/users/<%= @entries[1].user.id %>"><%= @entries[1].user.name%>さん</a>とのチャット</h2>
  <div class="row">
    <div class="col-md-3">
      <%= form_with model: @message do |f| %>
        <%= f.text_field :message,size: 30 %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <br>
        <%= f.submit class: 'non-display' %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <p><%= m.message %></p>
        <% end %>
      <% else %>
        <h3 class="text-center">メッセージはまだありません</h3>
      <% end %>
      <%= link_to "ユーザー一覧に戻る", users_path %>
    </div>
  </div>
</div>